{% extends "base.html" %}

{% macro render_tasks(tasks) %}
<ul class='tasks'>
{% for task in tasks %}
    <li>
        <div><span class='task-id'>{{task.id }}</span>{{ task.title|urlize }}</div>
        {% if task.description %}<div class='task-description'>{{ task.description|md2html }}</div>{% endif %}
    </li>
{% endfor %}
</ul>
{% endmacro %}

{% block content %}

{% for board_info in board_info_list %}
<section>
    <h1 class='board-name'>{{ board_info.name }}</h1>
    <table class='board'>
        <tr>
            <th class='status-new'><div>New</div></th>
            <th class='status-started'><div>Started</div></th>
            <th class='status-done'><div>Done</div></th>
        </tr>
        <tr>
        {% for status in 'new', 'started', 'done' %}
            <td class='status-{{ status }}'>
                {% if board_info.project_info_list[1] is defined %}
                    {% for project_info in board_info.project_info_list %}
                        {% if project_info.tasks[status] %}
                            <h2 class='project-name'>{{ project_info.name }}</h2>
                            {{ render_tasks(project_info.tasks[status]) }}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {{ render_tasks(board_info.project_info_list[0].tasks[status]) }}
                {% endif %}
            </td>
        {% endfor %}
        </tr>
    </table>
</section>
{% endfor %}

{% endblock %} {# content #}
